@import "twitter/bootstrap.less";

form strong{
  .makeColumn(4);

}
form {
  .center-block();
  width: 600px;
}

form input[type="submit"]{
  .btn;
  .btn-success;
}

h1{
  .well;
}

.animation img{
  width:100px;
  height: 100px;
}
.animation {
  text-align: center;
}

pre{
  width:90%;
  .center-block();
}

.alert pre{
  background-color: wheat;
}

label.services{
  .makeColumn(3);

}
.nav{
  .center-block();
  width: 80%;
}

.fade-hide, .fade-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}

.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}