!!!
html(ng-app="alltherooms")
    head
        script(src="js/angular.min.js", type='text/javascript')
        script(src="/socket.io/socket.io.js", type='text/javascript')
        script(src="app.js", type='text/javascript')
        link(href="css/style.css", rel="stylesheet")
        title All the rooms tester
    body(ng-controller="appCtrl")
        header
            h1 All the rooms tester
        form(ng-controller="formCtrl",ng-submit="search()")

            label
                strong start_date:
                input(type="text",
                      ng-model="start_date")
            label
                strong end_date:
                input(type="text",
                      ng-model="end_date")
            label
                strong location:
                input(type="text",
                      ng-model="location")
            label
                strong rooms:
                input(type="text",
                      ng-model="rooms")
            label
                strong guests:
                input(type="text",
                ng-model="guests")
            label
                strong adults:
                input(type="text",
                ng-model="adults")
            label
                strong children:
                input(type="text",
                ng-model="children")
            label
                strong timeout:
                input(type="text",,
                ng-model="timeout")
            fieldset.row
                label(ng-repeat="service in $$$services.services").services
                    input(type="checkbox"
                    ng-model="services_on[service]")
                    |{{service}}
            input(type="submit",
            value="Get")
            br
            br
            input.btn.btn-danger(type="button",
                                 value="Stop",
                                  ng-click="stop()")

        .results

            .alert.alert-error(data-ng-repeat="error in error_summary")
                strong Error Summary: {{error.site}}
                br
                pre {{error | jsonPretty}}

            .animation(ng-show="on_request")
                img(src="img/lanimated.gif")
            .visualizer(ng-hide="on_request")
                ul.nav.nav-pills
                    li(data-ng-repeat="site in sites",
                       data-ng-class="selectedIndex==$index? 'active':''")

                        a(href="",data-ng-click="change($index)") {{site}}
                            span(title="# of results").label {{results_on_success_counter[site]}}
                            span(style="display:block;")
                                span(title="success").badge.badge-success {{success[site]}}
                                span(title="errors").badge.badge-important {{results_on_errors_counter[site]}}


                .json-tab(ng-repeat="site in sites",
                          ng-show="$index == selectedIndex")
                    .pagination.pagination-centered
                        ul
                            li(ng-class="{disabled: paginationIndex[site]==0}")
                                a(href="",
                                ng-click="paginationIndex[site]= paginationIndex[site] - 1") &laquo;

                            li(ng-repeat="data in results_on_success[site]",
                                ng-click="paginationIndex[site]=$index",
                                ng-class="{disabled: $index == paginationIndex[site]}")
                                a(href="") {{$index + 1}}
                            li(ng-class="{disabled: paginationIndex[site]==(results_on_success[site].length-1)}")
                                a(href="",
                                 ng-click="paginationIndex[site]=paginationIndex[site]+1") &raquo

                    pre(ng-repeat="data in results_on_success[site]",
                        ng-show="$index == paginationIndex[site]",
                        data-ng-animate="'fade'").code-json {{data.results | jsonPretty}}